/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100vh;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.mainContainer{
    margin: 1rem 0.5em;
    max-width: 100%;
    overflow: hidden;
}
.navbar {
    min-height: calc(100vh - 60px);
    border-right: 1px solid rgba(0, 0, 0, 0.125)
}
.navbar-brand {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.navContainer{
    display:grid;
    align-self: start;
    width: 100%;
}
.list-group{
    width:100%;
    text-align: center;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
